@charset "utf-8";

/*
	New Perspectives on HTML5 and CSS3, 8th Edition
	Tutorial 8
	Coding Challenge 1

	Author: Sean Briggs
	Date:   2025-11-7
	Filename: code8-1_video.css

*/

video {
    display: block;
    width: 75%;
    margin: 10px auto;
}